<section class="content-section" id="portfolio">
    <div class="container px-4 px-lg-5">
        <div class="content-section-heading text-center">
            <h3 class="text-secondary mb-0">Courses</h3>
            <h2 class="mb-5">Register for a course</h2>
        </div>
        <div class="row gx-0">
            {% for course in courses_selectCourses  %}
                <div class="col-lg-6">
                    <a class="portfolio-item" href="https://{{ school_domain }}/course-details/{{ course.slug }}">
                        <div class="caption">
                            <div class="caption-content">
                                <div class="h2">{{ course.name }}</div>
                                <p class="mb-0">{{ course.short_description }}</p>
                            </div>
                        </div>
                        <img class="img-fluid"
                             src="{% if course.background_image and course.background_image != "" %} {{ course.background_image }} {% else %} assets/img/portfolio-1.jpg {% endif %}"
                             alt="..."
                        style="height: 300px; width: 100%"
                        />
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
</section>