<footer class="footer text-center">
    <div class="container px-4 px-lg-5">
        <ul class="list-inline mb-5">
            <li class="list-inline-item">
                <a class="social-link rounded-circle text-white mr-3" href="{{ footer_facebookUrl }}"><i class="icon-social-facebook"></i></a>
            </li>
            <li class="list-inline-item">
                <a class="social-link rounded-circle text-white mr-3" href="{{ footer_twitterUrl }}"><i class="icon-social-twitter"></i></a>
            </li>
            <li class="list-inline-item">
                <a class="social-link rounded-circle text-white" href="{{ footer_youtubeUrl }}"><i class="icon-social-github"></i></a>
            </li>
        </ul>
        <p class="text-muted small mb-0">{{ footer_copyrightText }}</p>
    </div>
</footer>