<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <base href="{{ baseHref }}">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="{{ school_details.tagline }}" />
        <meta name="author" content="" />
        <title> {{ school_details.name }}</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{{ school_details.logo }}" />
        <!-- Font Awesome icons (free version)-->
        <script src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" crossorigin="anonymous"></script>
        <!-- Simple line icons-->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.5.5/css/simple-line-icons.min.css" rel="stylesheet" />
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles.css" rel="stylesheet" />
    </head>
    <body id="page-top">
        <!-- Navigation-->
        <a class="menu-toggle rounded" href="#"><i class="fas fa-bars"></i></a>
        <nav id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand"><a href="https://{{ school_domain }}">Home</a></li>
                <li class="sidebar-nav-item"><a href="https://{{ school_domain }}/dashboard">Dashboard</a></li>
                <li class="sidebar-nav-item"><a href="https://{{ school_domain }}/profile">Profile</a></li>
                <li class="sidebar-nav-item"><a href="https://{{ school_domain }}/notification">Notification</a></li>
                <li class="sidebar-nav-item"><a href="https://{{ school_domain }}/forum">Forum</a></li>
                <li class="sidebar-nav-item"><a href="https://{{ school_domain }}/billing">Billing</a></li>
            </ul>
        </nav>

        <!-- Header-->
        <header class="masthead d-flex align-items-center" style="background-image: url('{{ header1Section_background }}')">
            <div class="container px-4 px-lg-5 text-center">
                <h1 class="mb-1" style="color: {{ header1Section_main_text_color }}">{{ school_details.name }}</h1>
                <h3 class="mb-5" style="color: {{ header1Section_body_text_color }}"><em>{{ school_details.tagline }}</em></h3>
                <a class="btn btn-primary btn-xl" href="https://{{ school_domain }}/dashboard">Go to dashboard</a>
            </div>
        </header>

        {% comment %}Dynmic section begin {% endcomment %}
        {{ template_group_layouts }}
        {% comment %}Dynmic section end {% endcomment %}

        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top"><i class="fas fa-angle-up"></i></a>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>
