<section
        class="content-section bg-primary text-white"
        style="
                background-color: {{ singleGrid2ButtonsSection_background_color }} !important;
                ">
    <div class="container px-4 px-lg-5 text-center">
        <h2 class="mb-4" style="color: {{ singleGrid2ButtonsSection_main_text_color }}">{{ single_grid_2_buttons_main_text }}</h2>
        <h3 class="mb-5" style="color: {{ singleGrid2ButtonsSection_body_text_color }}"><em>{{ single_grid_2_buttons_body_text }}</em></h3>
        <a class="btn btn-xl btn-light me-4" href="{{ single_grid_2_buttons_1_url }}" style="color: {{ singleGrid2ButtonsSection_button_1_text_color }}; background-color: {{ singleGrid2ButtonsSection_button_1_background_color }}">{{ single_grid_2_buttons_1_text }}</a>
        <a class="btn btn-xl btn-dark" href="{{ single_grid_2_buttons_2_url }}" style="color: {{ singleGrid2ButtonsSection_button_2_text_color }}; background-color: {{ singleGrid2ButtonsSection_button_2_background_color }}">{{ single_grid_2_buttons_2_text }}</a>
    </div>
</section>