<section class="callout masthead d-flex align-items-center"
         style="
                 background-image: {% if singleGridSection_background_color and singleGridSection_background_color != "" %} none {% else %} url('{{ singleGridSection_background }}') {% endif %};
                 background-color: {% if singleGridSection_background_color and singleGridSection_background_color != "" %} {{ singleGridSection_background_color }} {% else %} none {% endif %};
                 "
>
    <div class="container px-4 px-lg-5 text-center">
        <h1 class="mb-1" style="color: {{ singleGridSection_main_text_color }}">{{ single_grid_main_text }}</h1>
        <h3 class="mb-5" style="color: {{ singleGridSection_body_text_color }}"><em>{{ single_grid_body_text }}</em></h3>
        <a class="btn btn-primary btn-xl" href="{{ single_grid_button_url }}">{{ single_grid_button_text }}</a>
    </div>
</section>